@media (min-width:240px)
 {
    .navbar-form .input-group > .form-control {
       width: 102%;
    height: 43%;
    margin-left: 4px;
    margin-top: -9px;
    border-radius: 5px;
    margin-bottom: -12px;
    }

    .masterblock {
        margin-top: 53px;
        background-color: transparent;
        margin-left: 1px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .subimage{
       margin-top:22px;
   }
    h3.heading {
        font-weight: 600;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 7px;
    }

    .row.imgrow {
        margin: 7px 0px 0px -11px;
        cursor: pointer;
    }

    .productname {
        margin-left: 10px;
        font-weight: 700;
        cursor: pointer;
    }

    h6.avaname {
        margin: 2px 0px 11px -4px;
        color: #9d9d9d;
    }

    p.linkpara {
        margin: 0px;
        font-size: smaller;
    }
    
}
@media (min-width:320px)
 {
    .navbar-form .input-group > .form-control {
       width: 139%;
    height: 43%;
    margin-left: 5px;
    margin-top: -9px;
    border-radius: 5px;
    margin-bottom: -12px;
    }

    .masterblock {
        margin-top: 53px;
        background-color: transparent;
        margin-left: 1px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .subimage{
       margin-top:22px;
   }
    h3.heading {
        font-weight: 600;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 7px;
    }

    .row.imgrow {
        margin: 7px 0px 0px -11px;
        cursor: pointer;
    }

    .productname {
        margin-left: 10px;
        font-weight: 700;
        cursor: pointer;
    }

    h6.avaname {
        margin: 2px 0px 11px -4px;
        color: #9d9d9d;
    }

    p.linkpara {
        margin: 0px;
        font-size: smaller;
    }
}
@media (min-width:480px)
 {
    .navbar-form .input-group > .form-control {
       width: 139%;
    height: 43%;
    margin-left: 54px;
    margin-top: -9px;
    border-radius: 5px;
    margin-bottom: -12px;
    }

    .masterblock {
        margin-top: 53px;
        background-color: transparent;
        margin-left: 1px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .subimage{
       margin-top:22px;
   }
    h3.heading {
        font-weight: 600;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 7px;
    }

    .row.imgrow {
        margin: 7px 0px 0px -11px;
        cursor: pointer;
    }

    .productname {
        margin-left: 10px;
        font-weight: 700;
        cursor: pointer;
    }

    h6.avaname {
        margin: 2px 0px 11px -4px;
        color: #9d9d9d;
    }

    p.linkpara {
        margin: 0px;
        font-size: smaller;
    }
}
@media (min-width:600px) {
    .navbar-form .input-group > .form-control {
        width: 139%;
    height: 43%;
    margin-left: 98px;
    margin-top: -9px;
    border-radius: 5px;
    margin-bottom: -12px;
    }

    .masterblock {
        margin-top: 53px;
        background-color: transparent;
        margin-left: 184px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .subimage{
       margin-top:22px;
   }
    h3.heading {
        font-weight: 600;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 7px;
    }

    .row.imgrow {
        margin: 7px 0px 0px -11px;
        cursor: pointer;
    }

    .productname {
        margin-left: 10px;
        font-weight: 700;
        cursor: pointer;
    }

    h6.avaname {
        margin: 2px 0px 11px -4px;
        color: #9d9d9d;
    }

    p.linkpara {
        margin: 0px;
        font-size: smaller;
    }
}
@media (min-width: 768px){
   .navbar-form .input-group > .form-control{
    width: 50%;
    margin-left: 290px;
    margin-top: 1px;
    border-radius: 5px;
}
   .masterblock{
    margin-top: 57px;
    background-color: transparent;
    margin-left: 321px;
    border: 1px solid #ddd;
    border-radius: 5px;
    }
   h3.heading {
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 7px;
    }
   .row.imgrow {
    margin: 0px 0px 0px -11px;
    cursor:pointer;
   }
   .productname
   {
       margin-left: 10px;
    font-weight: 700;
    cursor:pointer;
    }
   h6.avaname {
    margin: 2px 0px 11px -4px;
    color: #9d9d9d;
    }
   p.linkpara {
    margin: 0px;
    font-size: .9em;
    }
   .container-fluid.subblock {
    background-color: transparent;
    margin-left: 321px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
   .subimage{
       margin-top:22px;
   }
}
@media (min-width: 992px){
    .navbar-form .input-group > .form-control {
        width: 91%;
        margin-left: 292px;
        margin-top: 1px;
        border-radius: 5px;
    }
   .masterblock{
    margin-top: 57px;
    background-color: transparent;
    margin-left: 321px;
    border: 1px solid #ddd;
    border-radius: 5px;
    }
   
   h3.heading {
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 7px;
   }
     
   .row.imgrow {
    margin: 0px 0px 0px -11px;
    cursor:pointer;
    }
   .productname
   {
       margin-left: 10px;
    font-weight: 700;
    cursor:pointer;
    }

   h6.avaname {
    margin: 2px 0px 11px -4px;
    color: #9d9d9d;
}
   a.linkclass{
        margin-left:-4px;
   }

   img.subimage{
       margin-top:22px;
   }

   p.linkpara {
    margin: 0px;
    font-size: .9em;
   }

   .container-fluid.subblock {
    background-color: transparent;
    margin-left: 321px;
    border: 1px solid #ddd;
    border-radius: 5px;
     }
   
 }
@media (min-width: 1200px){
   .navbar-form .input-group > .form-control{
    width: 124%;
    margin-left: 289px;
    margin-top: 1px;
    border-radius: 5px;
}
  .masterblock{
    margin-top: 57px;
    background-color: transparent;
    margin-left: 321px;
    border: 1px solid #ddd;
    border-radius: 5px;
    }
       
   h3.heading {
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 7px;
   }
     
   .row.imgrow {
    margin: 0px 0px 0px -11px;
    cursor:pointer;
    }
   .productname
   {
       margin-left: 10px;
    font-weight: 700;
    cursor:pointer;
    }

   h6.avaname {
    margin: 2px 0px 11px -4px;
    color: #9d9d9d;
   }
   .subimage{
       margin-top:22px;
   }

   a.linkclass{
        margin-left:-4px;
   }
   p.linkpara {
    margin: 0px;
    font-size: .9em;
   }
   .container-fluid.subblock {
    background-color: transparent;
    margin-left: 321px;
    border: 1px solid #ddd;
    border-radius: 5px;
   }
   
 }
 